<% include partials/header %>

    <table border="1">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Brand name</td>
            <td>Price</td>
            <td></td>
        </tr>
        <% for(var i = 0; i<products.length; i++) {  %>
            <tr>
                <td>
                    <%= products[i].id %>
                </td>
                <td>
                    <a href="/products/<%= products[i].id %>">
                        <%= products[i].name %>
                    </a>
                </td>
                <td>
                    <%= products[i].brandName %>
                </td>
                <td>
                    <%= products[i].price %>
                </td>
                <td>
                    <form action="/products/<%= products[i].id %>" method="delete">
                        <input type="submit" value="remove">
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
    <br/>

    <form action="/products" method="POST">
        <input type="text" name="name" placeholder="Product Name">
        <input type="text" name="brandName" placeholder="Brand Name">
        <input type="number" name="price" placeholder="Price">
        <input type="submit" value="Save">
    </form>

    <% include partials/footer %>